@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,

*::before {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

:root {
    --bg--light: hsl(200, 10%, 92%);
    --bg--base: #ffffff;
    --primary--dark: hsl(188, 21%, 58%);
    --primary--accent: hsl(192, 89%, 33%);
    --space--1: 0.5rem;
    
 
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
  }
  
  .nav__content {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #a855f7;;
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: #a855f7;;
  }
  
  nav .checkbox {
    display: none;
  }
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
  }
  ul li a:hover {
    border-top-color: #ca8a04;
    border-bottom-color: #ca8a04;
    color: #ca8a04;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  
  picture,
  img {
      display: block;
      max-width: 100%;
      object-fit: cover;
  }
  body {
      display:grid;
      place-items:center;
      font-family: "Roboto", sans-serif;
      min-block-size: 100vh;
      background: hsl(200, 10%, 92%);
  }
  .container {
      display: grid;
      grid-template-rows: auto 1fr min-content;
      grid-template-columns: auto 1fr;
      grid-template-areas: "aside header" "aside main" "footer footer";
      width: 794px;
      max-height: 1123px;
      margin-inline: auto;
      outline: 1px solid var(--text-clr-200);
      border-radius: 0.5rem;
      padding: var(--space--1);
      gap: 0 var(--space--1);
      background-color: var(--bg--base);
  }
  .header {
      grid-area: header;
      display: grid;
      place-content: center;
      position: relative;
      min-height: 20rem;
      isolation: isolate;
  }
  .header::after {
      z-index: -1;
      content: "";
      position: absolute;
      inset: 0;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
      background-color: var(--primary--accent);
  }
  .primary--heading {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
     
  font-size: 50px
  }
  
  .secondary--heading {
      font-style: italic;
      background-color: #fff;
      margin-inline:25px;
      padding-inline:20px;
      font-size: 39.5px;
  }
  .aside {
      grid-area: aside;
      display: grid;
      grid-template-columns: fit-content(27vh);
      gap: var(--space--2);
      border: 2px solid var(--border-clr);
  }
  .image__container {
      margin-inline: var(--space--1);
      margin-block-start: var(--space--1);
  }
  .image {
      object-fit: cover;
      outline: 3px solid #fff;
   
  }
  .details {
      display: flex;
      flex-direction: column;
      gap: var(--space--1);
  }
  .details [role="list"] {
      margin-inline: var(--space--1);
      list-style: none;
  }
  .title {
      margin-block-end: var(--space--1);
      max-width: 20ch;
      background-color: var(--bg--light);
      padding: var(--space--025) var(--space--1);
      color: var(--primary--accent);
      font-weight: 500;
  }
  .contact__information [role="listitem"] {
      margin-inline: var(--space--05);
      display: flex;
      align-items: center;
      gap: var(--space--05);
      height: 2.5rem;
  }
  .icon {
      display: inline-grid;
      aspect-ratio: 1;
      height: 100%;
      place-content: center;
      color: var(--primary--accent);
      font-size: 1.25em;
  }
  .text {
      font-weight: 500;
      color: var(--text-clr-300);
  }
  .education :has([role="list"]):nth-last-of-type(2) {
      margin-block-end: 1rem;
  }
  .sub--title {
      font-weight: 800;
      margin-block-end: var( --space--1);
      text-transform: uppercase;
      color: red;
      background-color: var( --bg--light)
  }
  .sublistitem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 3rem;
  }
  .sublistitem > *:last-of-type {
      color: var(--text-clr-300);
      font-weight: 400;
  }
  .sub--text {
      font-size: var(--fs--01);
      text-transform: uppercase;
      font-weight: 600;
      color: var(--text-clr-200);
  }
  .main {
      grid-area: main;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }
  .about__me {
      flex: 0 1 auto;
  }
  .about__me p {
      max-width: 55ch;
      color: var(--text-clr-200);
  }
  .skills__content--flow {
      display: flex;
      gap: var(--space--05);
  }
  .skills__content--flow > * {
      flex: 1;
  }
  .special__skills {
      display: inline-flex;
      flex-direction: column;
      list-style: none;
      gap: 0.25rem;
      counter-reset: special-counter;
  }
  .special__skills li {
      font-size: var(--fs--01);
      font-weight: bold;
      counter-increment: special-counter;
  }
  .special__skills li::before {
      content: counter(special-counter);
      background-color: var(--primary--accent);
      outline: 2px solid #fff;
      outline-offset: -0.25rem;
      display: inline-grid;
      place-content: center;
      margin-inline: 0.5rem;
      border-radius: 50%;
      font-size: 1.125rem;
      aspect-ratio: 1;
      color: #fff;
      height: 1.75rem;
  }
  .special__skills > * {
      color: var(--text-clr-300);
  }
  .skill__diagram {
      margin-top: 0.5rem;
  }
  .diagram {
      background-color: var(--bg--light);
  }
  .diagram--id {
      background-color: #fff;
      color: var(--text-clr-200);
      font-weight: bold;
      font-size: var(--fs--01);
      line-height: 1.6;
  }
  .skill-bar {
      justify-content: end;
      color: #fff;
      padding: 0.25rem 0;
      display: inline-flex;
      background-color: var(--primary--accent);
  }
  .mongodb {
      width: 85%;
  }
  .expressjs {
      width: 87%;
  }
  .reactjs {
      width: 90%;
  }
  .nodejs{
      width: 85%;
  }
  .footer {
      grid-area: footer;
      margin-top: 1rem;
      background-color: var(--primary--accent);
      height: 5px;
  }
  